/*==variables ==*/
:root {
    --pri-color:#171619;
    --sec-color:#fff;
    --bg-color: #171619;
    --h-color: #fff;
    --p-color:#fff;
    --path-fill-1: #413f46;
    --path-fill-2: #e6e5ea;
    --path-fill-3: #343a40;
    --body-font-family: 'Montserrat', sans-serif;
    --h-font-family: 'Montserrat', sans-serif;
    --box-shadow:0 0 15px 5px #ddd;
  }

