/*====================about-details=================*/

.about-details {
  .about-me {
    margin-left: 15px;
    @include media-breakpoint-only(sm){
      margin-top: 50px;
      text-align: center;
      justify-content: center;
    }
    @include media-breakpoint-down(sm){
      margin: 15px 0 0;
    }

    p {
      font-weight: 300;
      margin: 15px 0;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.5rem;
      word-break: break-all;
      letter-spacing: 0.5px;
      font-size: 16px;
      text-align: justify;
      @include media-breakpoint-only(lg){
        font-size: 14px;
      }
    }
  }

  .sign {
    display: block;
    width: 130px;
    height: auto;
    margin: 10px 0;
  }

  .about-me {
    
    h4{
      @include media-breakpoint-only(lg){
        font-size: 22px;
      }
      @include media-breakpoint-down(sm){
        font-size: 20px;
      }
    }
    a {
      color: var(--white);
      font-size: 14px;
      padding: 8px;
      border: 1px solid var(--white);
      display: inline-block;
      margin: 8px 0;
      font-weight: 400;
      transition: all 0.3s;
      @include media-breakpoint-only(lg){
        font-size: 12px;
      }
      @include media-breakpoint-only(lg){
        padding: 8px;
      }

      &:hover {
        background: var(--white);
        color: var(--bg-color);
      }
    }

    i {
      padding: 0 0 0 4px;
    }
  }

  .about-img {
    position: relative;

    img {
      margin-left: 20px;
      border: 10px solid #5d5d5e;
      width: 95%;
      @include media-breakpoint-down(sm){
        margin-left: 0;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background: transparent;
      display: block;
      width: 95%;
      height: 100%;
      border: 10px solid #e32805;
      top: 20px;
      right: 12px;
      z-index: -1;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }

  .about-info {
    @include media-breakpoint-between(sm,lg){
      margin-top: 50px;
    }
    ul {
      list-style: none;
    }

    li {
      line-height: 32px;
      @include media-breakpoint-only(lg){
        font-size: 14px;
        line-height: 28px;
      }
    }

    ul strong {
      border-bottom: 2px solid var(--white);
      margin-right: 5px;
      text-transform: capitalize;
    }
  }
}
